@{
    ViewBag.Title = "Intro";
}
<section id="intro">
    <!-- Introduction -->
    <header>
        <h2>Do you have questions for me?</h2>
    </header>
    <p>I am Shauli - 36 years old Rocket scientist from California - and this is my Blog. I will be happy to answer any of your questions. </p>
    <img src="~/images/intro_shauli.png" alt="Shauli" />
</section>