@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "RSS";
}

<h1>@ViewBag.Title.</h1>
<h3>@ViewBag.Message</h3>
<p>Please Like us on Facebook.</p>
<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
